<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd "
      autoReload="true"
      internalLogFile="internalNLogFile.txt"
      internalLogLevel="Trace">
    <variable name="logDirectory" value="DigitalTwinOfATelloDrone/${shortdate}" />

    <!-- the targets to write to -->
    <targets async="true">
        <!-- write logs to file -->
        <target name="logconsole" xsi:type="Console"/>
        <target 
            name="logfile" 
            xsi:type="File" 
            fileName="${logDirectory}/DroneState.txt" 
            layout="`${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}`" />
        <!-- Logs für das Flugverhalten und der Sender, der die Steuerung eingegeben hat. -->
        <target name="logflight" xsi:type="File"></target>
        <target name="logdronecommunication" xsi:type="File"></target>
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!-- Trace Nachrichten -->
        <!-- Alle Nachrichten -->
        <!-- Filtere die Fluginformationen -->
        <!-- Filtere die Fluginformationen mit Steuerung und Sende und Antort über UDP-->
        <!-- Filtere Rohdaten von der Drohne und dem darauf resultiernden Flugzustand.-->
        <logger name="DigitalTrinOfATelloDrone.*" minlevel="trace" writeTo="logconsole" />

        <!-- Info Nachrichten -->
        <logger name="*" minlevel="Info" writeTo="logconsole"/>
        
        <!-- Filtere Start und Ende des Programms mit Abbau der Ressourcen-->
        <!-- Start und Ende des Drohnenflugs-->
        
        <!-- Warn nachrichten -->
        <!-- Fehlermeldungen von der Drohne -->
        
        <!-- Error Nachrichten -->
        <!-- Fehlermeldeungen vom System -->
        
    </rules>
</nlog>