<log4net>
    <root>
        <level value="ALL" />
        <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="RollingFileAppender" 
              type="log4net.appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="./proper.log"/>
        <appendToFile value="true"/>
        <rollingStyle value="Size"/>
        <maximumFileSize value="10MB"/>
        <maxSizeRollBackups value="5"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{ABSOLUTE} [%logger] %level - %message%newline%exception"/>
        </layout>
    </appender>
</log4net> 